/*Clases principales*/


html, body
	margin 0
	height 100%

.wrapper
	min-height 100%

ul
	margin 0
	padding 0
li
	list-style-type none
a
	text-decoration none

figure
	margin 0
	img
		display block



img.thumbnail-circle
	border-radius 50%


