@import "variables.styl"
// h1 - h6
h1, h2, h3, h4, h5, h6
    margin 0
    font-family: fonts_title


for key, value in f-size
    {key}
        font-size value



p, span, strong, li, a
    font-family: fonts_paragraph

label
	font-family fonts_paragraph
	font-size 16px
