


// devices

device = {
    movil : 480px,
    tablet : 768px,
    laptod: 960px,
    web : 1224px,
}


//fonts

fonts = {
    title: 'Lato',
    paragraph: 'Roboto'
}

fonts_title = 'Lato'
fonts_paragraph = 'Roboto'
// font size
// value initial = 16px
f-size = {
    h1 : 2em,
    h2 : 1.5em,
    h3 : 1.17em,
    h4 : 1.12em,
    h5 : 0.83em,
    h6 : 0.75em
}
