@import 'utils/normalize'
@import 'nib'

// Import fonts
@import 'utils/fonts'
@import 'utils/ico'

// Import config
@import 'config/identity'
// General
.wancho
	width 95%
	max-width 960px
	margin auto
body
	font-size 15px
	font-family t-0
	color c-0
a
	color inherit
	&:focus
		outline none


// Para Proyecto en Produccion
// @import 'blocks/*'


// Import animations
