{% extends "common/base.html" %}
{% load static %}
{% block content %}

{% include "common/header.html" %}
{% include "common/portada.html" %}
{% include "common/slider.html" %}
{% include "common/about.html" %}
{% include "common/portafolio.html" %}
{% include "common/counting.html" %}
{% include "common/progress.html" %}
{% include "common/service.html" %}
{% include "common/team.html" %}
{% include "common/testimonial.html" %}
{% include "common/latestpost.html" %}
{% include "common/pricing.html" %}
{% include "common/happyclient.html" %}

{% endblock content %}
{% block js_final %}
<script src="{% static "js/postagging.js" %}"></script>
{% endblock js_final %}