<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Herramienta</Name><AddInID>{56d8ad23-208f-4c8a-8653-44ee07e5bcec}</AddInID><Description>Barra de herramientas personalizadas</Description><Version>0.1</Version><Image>Images\ideas3.png</Image><Author>Richard</Author><Company>manfloc</Company><Date>03/25/2017</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="ToolBar_addin.py" namespace="ToolBar_addin"><ArcMap>
    <Commands>
        <Button caption="Mensaje" category="Herramienta" class="ButtonClass2" id="ToolBar_addin.button" image="Images\mensaje.png" message="Este boton muestra un mensaje" tip="Mensaje"><Help heading="" /></Button>
        <Button caption="Buffer" category="Herramienta" class="ButtonClass3" id="ToolBar_addin.button_1" image="Images\buffer.png" message="Herramienta de analisis espacial" tip="Buffer"><Help heading="" /></Button>
        <Button caption="Enciende" category="Herramienta" class="ButtonClass4" id="ToolBar_addin.button_2" image="Images\on.png" message="Este boton activa las capas de la tabla de contenidos" tip="Activa capas"><Help heading="" /></Button>
        <Button caption="Apaga" category="Herramienta" class="ButtonClass5" id="ToolBar_addin.button_3" image="Images\off.png" message="Este boton desactiva las capas de la tabla de contenidos" tip="Desactiva capas"><Help heading="" /></Button>
        <Button caption="IdMasivo" category="Herramienta" class="ButtonClass6" id="ToolBar_addin.button_4" image="Images\id.png" message="Herramienta que genera codigos masivos" tip="Id Masivo"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Herramienta Personalizada" category="Herramienta" id="ToolBar_addin.toolbar" showInitially="true"><Items><Button refID="ToolBar_addin.button" /><Button refID="ToolBar_addin.button_1" /><Button refID="ToolBar_addin.button_2" /><Button refID="ToolBar_addin.button_3" /><Button refID="ToolBar_addin.button_4" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>