<style>
    #luffabella{
        font-family: lobster;
        color: white;
        font-size: 5em;
        text-shadow: 3px 3px black;
    }
</style>
<section id="portada_sec">
    <div class="container">
		<div class="row">
			<div class="slider">
                <div id="carousel-example-generic-1" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic-1" data-slide-to="0" class="active"></li>
                      </ol>

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="wrap_caption" id="itemx">
                              <div class="caption_carousel">
                                <div id="luffabella">Etiquetador
                                    Gramatical</div>
                                <button style="background-color: #0b0b0b"
                                   id="conocenos">
                                    <a href="#slider_sec" id="enlaceconocenos"
                                      style="color:white;background-color: #0b0b0b">
                                        <i class="fa fa-hand-pointer-o" style="margin-right: 3px"></i>Conóceme
                                    </a>
                                </button>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>

<br>
<hr>
<!-- End slider Section -->