<style>
    #luffabella{
        font-family: lobster;
        color: white;
        font-size: 5em;
        text-shadow: 3px 3px black;
    }
    input {
        font: 18px Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        display: block;
        padding: 20px;
        margin-bottom: 20px;
        outline: none;
        transition: all 0.2s ease-in-out;
        border-color: darkslategray;
    }

    input::placeholder {
        transition: all 0.2s ease-in-out;
        color: #999;
        font: 18px Helvetica, Arial, sans-serif;
    }

</style>
<section id="portada_sec">
    <div class="container">
		<div class="row">
			<div class="slider">
                <div id="carousel-example-generic-1" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic-1" data-slide-to="0" class="active"></li>
                      </ol>

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="wrap_caption" id="itemx">
                              <div class="caption_carousel">
                                <div id="luffabella">Etiquetador
                                    Gramatical</div>
                                  <input type="text"
                                         placeholder="Ingrese la frase a etiquetar, porfavor no ingresar signos"
                                         size="300"
                                         maxlength="300"
                                         id="input_word">
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>

<br>
<hr>
<!-- End slider Section -->