<!-- start pricing Section -->
<section id="pricing_sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
				<div class="title_sec">
					<h1>Our Pricing Plan</h1>
					<h2>WE’RE BRANDING & DIGITAL STUDIO FROM VIET NAM</h2>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="sngl_pricing">
					<h2 class="title_bg_1">Basic</h2>
					<h3><span class="currency">$</span>30<span class="monuth">/  mo</span></h3>
					<ul>
						<li>30 GB of Storage</li>
						<li>30 GB of Storage</li>
						<li>30 GB of Storage</li>
						<li>30 GB of Storage</li>
						<li><a href="" class="btn pricing_btn">Send</a></li>

					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="sngl_pricing">
					<h2 class="title_bg_2">Standerd</h2>
					<h3><span class="currency">$</span>50<span class="monuth">/  mo</span></h3>
					<ul>
						<li>30 GB of Storage</li>
						<li>30 GB of Storage</li>
						<li>30 GB of Storage</li>
						<li>30 GB of Storage</li>
						<li><a href="" class="btn pricing_btn">Send</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="sngl_pricing">
					<h2 class="title_bg_3">Extended</h2>
					<h3><span class="currency">$</span>90<span class="monuth">/  mo</span></h3>
					<ul>
						<li>30 GB of Storage</li>
						<li>30 GB of Storage</li>
						<li>30 GB of Storage</li>
						<li>30 GB of Storage</li>
						<li><a href="" class="btn pricing_btn">Send</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End pricing Section -->