<!-- start progress bar Section -->
<section id="skill_sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
				<div class="title_sec">
					<h1>Our Skill diagram</h1>
					<h2>WE’RE BRANDING & DIGITAL STUDIO FROM VIET NAM</h2>
				</div>
			</div>
		  <div class="skills progress-bar1">
				<ul class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft">
					  <li class="progress">
							<div class="progress-bar" data-width="85">
								  Wordpress 85%
							</div>
					  </li>
					  <li class="progress">
							<div class="progress-bar" data-width="65">
								  Graphic Design 65%
							</div>
					  </li>
					  <li class="progress">
							<div class="progress-bar" data-width="90">
								  HTML/CSS Design 90%
							</div>
					  </li>
					  <li class="progress">
							<div class="progress-bar" data-width="60">
								  SEO 60%
							</div>
					  </li>
				</ul>
				<ul class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight">
					  <li class="progress">
							<div class="progress-bar" data-width="75">
								  Agencying 75%
							</div>
					  </li>
					  <li class="progress">
							<div class="progress-bar" data-width="95">
								  App Development 95%
							</div>
					  </li>
					  <li class="progress">
							<div class="progress-bar" data-width="70">
								  IT Consultency 70%
							</div>
					  </li>
					  <li class="progress">
							<div class="progress-bar" data-width="90">
								  Theme Development 90%
							</div>
					  </li>
				</ul>
		  </div>


		</div>
	</div>
</section>
<!-- End progress bar Section -->