@import 'nib'

.help
	color #99acbb !important

.input,
.background-form .input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="number"],
textarea
	border: 1px solid #d9e4ea;

.fb_show
	display inline-block
	vertical-align middle

.vTextField, .vLargeTextField, .vURLField
	width 75%

.vFileBrowseField
	width 50%

.preview 
	img
		margin-left 175px

.inline-group
	.preview
		img
			margin-left 0px

.module
	.form-row
		.help
			margin 5px 0 5px 160px

#header
	padding-bottom 5px

.changeform-object-tools 
	ul.horizontal 
		margin-bottom 5px !important

.inline-group
	td
		vertical-align top
	.vTextField, .vLargeTextField, .vURLField
		width 200px

	.vFileBrowseField
		width 200px
	.fb_show
		margin-top -42px
		margin-left 210px
	p.preview
		margin 0
	.field-posicion
		input.vIntegerField
			width 65px
			text-align center
	.field-active
		label
			width 32px
			text-align center

.tabular
	.fb_show
		margin-top 0px
		margin-left 0px


.module
	.form-row
		label
			max-width 175px

.stacked-inline-content
	.fb_show
		margin-top 5px
		margin-left 3px
	p.preview
		margin-bottom 5px
	.vTextField, .vLargeTextField, .vURLField
		width 65%

	.vFileBrowseField
		width 50%


.vFileBrowseField
	max-width 680px !important
.input, .background-form .input, input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="number"], textarea
	max-width 720px

#result_list
	tbody
		tr
			td
				input[type="checkbox"]
					display inline
			td.action-checkbox
				input[type="checkbox"]
					display none
