

color_default = #eee
color_primary = #284184
color_success = #5cb85c
color_info = #167A8B
color_warning = #FBB040
color_danger = #d9534f
color_close = #888888

color_success_darken = darken(color_success, 20%)
color_primary_darken = darken(color_primary, 20%)
color_info_darken = darken(color_info, 20%)
color_close_darken = darken(color_close, 20%)
color_danger_darken = darken(color_danger, 20%)
color_warning_darken = darken(color_warning, 20%)
color_primary_darken = darken(color_primary, 20%)



color_white = #fff
color_black = #000
color_gray = #505458
color_panel = #7d57c1
color_background = #eee

color_sidebar = #232732
color_main = #faa800
