//modulo bloques generales NO MODIFICAR
.wrapp-iframe-general
	width 100%
	box-sizing border-box
	padding 6px
	overflow hidden
	background-color: #9FAB26
	display block
	padding-top 0px
	&:first-child
		padding-top 6px
		
.name-dev	
	position absolute
	top 2px
	left 0
	font-family: 'Arial', sans-serif
	color #9FAB26
	border-bottom 2px solid #9FAB26
	text-transform uppercase
	margin-left 15px
	
.btn-copy
	background-color #9FAB26
	display inline-block
	color #fff
	margin-bottom 10px
	padding 5px
	cursor pointer
	&.hover
		background-color gray

.inner-general
	background #fff
	padding 20px 0
	
.general-wrapper
	padding 10px
	border 1px dashed gray
	width 98%
	margin auto
	margin-top 30px
	
.block-general	
	padding 5px
//modulo bloques generales NO MODIFICAR